# Ignore VSCode settings files
.vscode/

# Ignore GoLand settings files
*/*/.idea/

# Ignore golang config files
*.mod

# Ignore .xml and .iml files
*.xml
*.iml

# Ignore graphs files
*.dot

# Ignore test files
*.txt
